version: '3.8'


services:
    keycloak:
        container_name: palette-gen-keycloak
        image: quay.io/keycloak/keycloak:26.3.2
        ports:
            - "8081:8080"
        environment:
            KEYCLOAK_ADMIN: admin
            KEYCLOAK_ADMIN_PASSWORD: admin
            KC_HOSTNAME_URL: http://localhost:8081/auth
            KC_PROXY: passthrough
        volumes:
            - keycloak_data:/opt/keycloak/data
            - D:\Code\Java\PaletteGenerator\keycloak\themes:/opt/keycloak/themes
            - D:\Code\Java\PaletteGenerator\keycloak\providers:/opt/keycloak/providers
        command: 'start-dev'
        networks:
            - app-network

    angular-frontend:
        container_name: palette-gen-frontend
        build:
            context: ./palette-gen-frontend
            dockerfile: Dockerfile
        ports:
            - "4200:4200"
        depends_on:
            - keycloak
        environment:
            - NODE_ENV=development
            - CHOKIDAR_USEPOLLING=true
        volumes:
            - ./palette-gen-frontend:/usr/src/app
            - /usr/src/app/node_modules
        command: ["npm", "start"]
        stdin_open: true
        networks:
            - app-network

    spring-backend:
        container_name: palette-gen-backend
        ports:
            - "8080:8080"
        build:
            context: ./PaletteGeneratorBackend
            dockerfile: Dockerfile
        env_file:
            - ./PaletteGeneratorBackend/.env
        depends_on:
            - keycloak
        networks:
            - app-network

volumes:
    keycloak_data:
    
networks:
    app-network:
        driver: bridge